<footer class="site-footer">
    <div class="container text-center">
        <h5>🍽 Simply Homemade</h5>

        <p class="mb-1">
            Discover, share and save homemade recipes.
        </p>

        <small>
            C237 Software Application Development CA2
        </small>
    </div>
</footer>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
></script>

</body>
</html>