# Dependencies
node_modules/

# Environment variables
.env

# Uploaded files
public/uploads/profiles/*
public/uploads/recipes/*

# Keep upload folders
!public/uploads/profiles/.gitkeep
!public/uploads/recipes/.gitkeep

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*